[tron]
# What host does the tron hub run on?
tronHost = 10.1.1.1
# What tron port do we connect to. This is defined by tron.
tronCmdrPort = 6093

[xcu]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/xcu

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = 10.1.1.3
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py 
port = 9901

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/xcu
baseLevel = 20
cmdLevel = 20
dispatchLevel = 30
consoleLevel = 20
